*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  word-break: break-word;
}

a,
abbr {
  text-decoration: none;

  :hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

q {
  font-style: italic;
}

li {
  list-style: none;
}

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint,
  $fs-font-size in $fs-map {
    @if $fs-breakpoint==null {
      font-size: $fs-font-size;
    }

    @else {

      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }

      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

$breakpoints: ('small' : 480px,
  'medium': 640px,
  'large' : 1024px);

$h1-font-sizes: ('null' : 1.8rem,
  'small' : 2rem,
  'medium': 2.1rem,
  'large' : 2.5rem);

h1 {
  @include font-size($h1-font-sizes);
  text-transform: uppercase;
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
}

$h2-font-sizes: ('null' : 1.6rem,
  'small' : 1.7rem,
  'medium': 1.9rem,
  'large' : 2rem);

h2 {
  @include font-size($h2-font-sizes);
  text-transform: uppercase;
}

$h3-font-sizes: ('null' : 1.5rem,
  'small' : 1.5rem,
  'medium': 1.75rem,
  'large' : 1.9rem);

h3,
figcaption {
  @include font-size($h3-font-sizes);
}

h2,
h3,
figcaption {
  margin-bottom: 0.5em;
}

$p-font-sizes: ('null' : 15px,
  'small' : 16px,
  'medium': 17px,
  'large' : 19px);

p {
  @include font-size($p-font-sizes);
  opacity: 0.6;
}

$input-font-sizes: ('null' : 15px,
  'small' : 16px,
  'medium': 17px,
  'large' : 19px);

input,
textarea {
  @include font-size($input-font-sizes);
}

//fonts
$font-stack: 'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
'Geneva',
'Verdana',
sans-serif;
//Color
$text-color: #fff;
$bkg-color: #000;
$btn-color: #f48424;

@mixin flexCenter($direction) {
  //height: 100vh;//influye en la distancia entre secciones
  display: flex; //no poner flex-wrap
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  text-align: center;
}

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $bkg-color;
  line-height: 1.2;
  overflow-x: hidden;
}

//typewriting effect
#promocion {
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 4s steps(44) 1s 1 normal both;
  //typing 3.5s steps(30, end)
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

//
.hero,
.slide {
  @include flexCenter(column);
  position: relative;
  padding: 2%;
  margin: 15% auto;

  .slide-paragraph {
    max-width: 80%;
    text-align: left;
  }
}

.nav-tabs-container {
  @include flexCenter(row);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 4px $bkg-color;
  background-color: $bkg-color;
  opacity: 0.9;
  z-index: 10;

  .nav-tab {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex: 1;
    color: $text-color;
    background-color: $bkg-color;
    transition: all 0.5s ease;
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;

    &:link,
    &:visited {
      color: $text-color;
    }

    &:hover {
      color: $text-color;
      opacity: 0.4;
      transition: all 0.5s ease;
    }

    &:active {
      color: $text-color;
    }
  }

  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: $bkg-color;
    transition: left 0.3s ease;
  }
}

.contenido {
  margin-top: 5%;
}

.toggle {
  @include flexCenter(row);
  margin: 2%;
  padding: 2%;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;

  .column {
    flex-basis: 45%;
    @include flexCenter(column);
    padding: 1%;
    border: 2px solid $text-color;
    margin: 2% auto;
    text-align: left;
    box-shadow: 3px 8px $text-color;
  } 
  
}

.sort-button {
  margin-top: 5%;
  margin-right: 50%;
  border-bottom: 1px solid $text-color;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 $text-color;
  transition: 0.3s;
  padding: 1%;
  margin: 2%;

  * {
    padding: 3%;
  }

  .card-container {
    padding: 1% 2%;
  }

  p {
    text-align: left;
  }

  .portfolio {
    padding: 1%;
    background: $btn-color;
    color: $bkg-color;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {
  .sort-button {
    margin-right: 0;
  }
}

.toggle>div {
  flex-basis: 45%;
}

@media (max-width: 800px) {
  .toggle,
  .container {
    @include flexCenter(column);
  }
}

#contact {
  margin: 6em 0;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  #error_message {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }

  form {
    width: 50vw;
  }

  span {
    text-decoration: underline;
  }
}

.input_field {
  margin: 10px;
}

input[type="text"],
textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
  color: $bkg-color;
}

textarea {
  resize: none;
  height: 80px;
}

.btn input[type="submit"] {
  border: 0px;
  padding: 10px;
  text-align: center;
  background: $btn-color;
  color: $bkg-color;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #contact form {
    width: 80vw;
  }
}